API_ID=7052875 # get this value from my.telegram.org
API_HASH=e348e17be7630965efdee3bf52c2a475 # get this value from my.telegram.org
BOT_TOKEN=2039569371:AAGdHwFwv1putoSmyZp6k_UEz3Ogg5LrwOw # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://usergebot:usergebot@cluster0.riyjt.mongodb.net/tes?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001818815940 # get this value from in your log group 
MUSIC_BOT_NAME=Kirito # your music bot name 
DURATION_LIMIT=240
AUTO_LEAVING_ASSISTANT=True
OWNER_ID=742495738 5833500280
AUTO_DOWNLOADS_CLEAR=True 
STRING_SESSION=BAEEi58AJ-5xZoXOnx1sE04twHRX7Shqs1uR4FrGSrV6yrUteM9VPipUrQbMR3s2dlJ7RNOMuC8x-LCnO9RmXmRG9S80U5CNjbRt4OI2hCDLWapd63TDQGDahH4leVkM6EQjwkbaxXaydPKxvSZD9LS8kCJ-1yOmcWDJVYQxby3CFnuJf7M-eVaDmDRk3GwKubFCDiDIxdlK6GES86O0ctuV1_AG4qvEDEiiwHEX6_YDu0ukj6DGurD4q_ng-SE1pHKnHLVbitRfPsDzXwMTfxkHqKGEDiF7EMpE5AiUtrAeDwlwTRUDloN5FmD_EYqp-JQT204YIP2hdOxVOrGULUwfRCJ_pwAAAAFrGaeZAA
